body {
  background-color: #222;
  color: #fff;
  font-family: Arial;
  text-align: center;
}

h1 {
  color: #00bcd4;
}

form {
  background-color:gray;
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
  text-align: left;
}

input, button {
  margin: 8px 0;
  padding: 8px;
  border: none;
  border-radius: 5px;
}

input[type="text"],
input[type="email"],
input[type="date"] {
  width: 100%;
  background-color: #444;
  color: #fff;
}

input::placeholder {
  color: #bbb;
}

button {
  background-color: #00bcd4;
  color: #fff;
  cursor: pointer;
}
